<!DOCTYPE HTML>
  <html>
    <head>
    </head>
      <body>First Page!
		<form action="/next" method="get">
  		  <input value="button" class="ben" type="submit">
        </form>
      </body>
</html>